<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.2.xsd">

  <menuitem name="menu-project" order="-80"
    title="Project Management" icon="fa-tasks" icon-background="violet" />

  <menuitem name="menu-project-all" parent="menu-project"
    title="All Projects" action="project.all" />

  <action-view name="project.all" title="Projects"
    model="com.axelor.project.db.Project">
    <view type="grid" name="project-grid" />
    <view type="form" name="project-form" />
  </action-view>

  <menuitem name="menu-project-task-all" parent="menu-project"
    title="All Project Task" action="projectTask.all" />

  <action-view name="projectTask.all" title="Projects Task"
    model="com.axelor.project.db.ProjectTask">
    <view type="grid" name="project-task-grid" />
    <view type="form" name="project-task-form" />
    <view type="calendar" name="project-task-calendar" />
  </action-view>

  <menuitem name="menu-project-task-tree-all" parent="menu-project"
    title="All Project Task Tree" action="projectTaskTree.all" />

  <action-view name="projectTaskTree.all" title="Projects Task Tree"
    model="com.axelor.project.db.ProjectTask">
    <view type="tree" name="project-task-tree" />
  </action-view>


  <menuitem name="menu-project-task-kanban" parent="menu-project"
    title="All Project Task Kanban" action="projectTaskKanban.all" />

  <action-view name="projectTaskKanban.all" title="Projects Task Kanban"
    model="com.axelor.project.db.ProjectTask">
    <view type="kanban" name="project-task-kanban" />
  </action-view>


  <menuitem name="menu-project-task-event" parent="menu-project"
    title="All Event" action="projectTaskEvent.all" />

  <action-view name="projectTaskEvent.all" title="Projects Event"
    model="com.axelor.project.db.Event">
    <view type="form" name="project-event-form" />
    <view type="grid" name="project-event-grid" />
  </action-view>

  <menuitem name="menu-employee-event" parent="menu-project"
    title="All Employee" action="employee.all" />

  <action-view name="employee.all" title="Employee Event"
    model="com.axelor.project.db.Employee">
    <view type="grid" name="employee-grid" />
    <view type="form" name="employee-form" />
  </action-view>



  <menuitem name="menu-project-tasks-gantt" parent="menu-project"
    title="Task planning"
    action="project.tasks.gantt"/>

  <action-view name="project.tasks.gantt" title="Task planning" model="com.axelor.project.db.ProjectTask">
    <view type="gantt" name="project-task-gantt"/>
  </action-view>



</object-views>
